In [157]:
import pandas as pd
import selenium
import time
import numpy as np

from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [158]:
driver= webdriver.Chrome(r'C:\Users\amang\chromedriver_win32\chromedriver.exe')
driver.maximize_window()

url="https://www.imdb.com/search/title/?genres=action&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=f11158cc-b50b-4c4d-b0a2-40b32863395b&pf_rd_r=XZ8X52H1R40B7KG5SNZ9&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_1"
driver.get(url)
time.sleep(3)

#### Sr.no., MovieName, year

In [159]:
def movies():
    for i in driver.find_elements('xpath', '//h3[@class="lister-item-header"]'):
        x=i.text.split(". ")
    
        sno.append(x[0])    # s.no.
    
'''        if len(x)>2:                     #movie
            y=('. ').join(x[1:])
            movie.append(y.split(' (')[0])
        else:
            movie.append(x[1].split(' (')[0])
        
        year.append(i.text.split(' (')[1][:-1])    #year'''

"        if len(x)>2:                     #movie\n            y=('. ').join(x[1:])\n            movie.append(y.split(' (')[0])\n        else:\n            movie.append(x[1].split(' (')[0])\n        \n        year.append(i.text.split(' (')[1][:-1])    #year"

#### Duration, Certification, Genre

In [160]:
def genre():
    for i in driver.find_elements('xpath', '//p[@class="text-muted "]'):
        if len(i.text.split(' | '))>2:
            cert.append(i.text.split(' | ')[0])    #certification
            dur.append(i.text.split(' | ')[1])    # duration
            gen.append(i.text.split(' | ')[2].split(', '))    #genre
            
        else:
            cert.append(np.nan)    #certification
            dur.append(i.text.split(' | ')[0])    # duration
            gen.append(i.text.split(' | ')[1].split(', '))    #genre

#### rate, metascore

In [161]:
def metascore():
    for i in driver.find_elements('xpath', '//div[@class="ratings-bar"]'):
        rate.append(i.text[:3])    #rating
    
        try:
            meta.append(i.text.split("\n")[1][:2])    #metascore
        except:
            meta.append(np.nan)

#### Director Name, stars

In [162]:
def star():
    for i in driver.find_elements('xpath', '//p[@class=""]'):
        x=i.text.split(" | ")
    
    
        #Directors
        y= x[0].split(": ")
        z=y[1].split(', ')
        
        direct1.append(z[0])
        try:
            direct2.append(z[1])
        except:
            direct2.append(np.nan)
        
        try:
            direct3.append(z[2])
        except:
            direct3.append(np.nan)
        
        
        #stars
        y= x[1].split(": ")[1].split(", ")
    
        star1.append(y[0])
        try:
            star2.append(y[1])
        except:
            star2.append(np.nan)
        
        try:
            star3.append(y[2])
        except:
            star3.append(np.nan)
        
        try:
            star4.append(y[3])
        except:
            star4.append(np.nan)

#### votes, Gross collection

In [163]:
def votes():
    for i in driver.find_elements('xpath', '//p[@class="sort-num_votes-visible"]'):
        x=i.text.split(" | ")
    
        y= x[0].split(": ")
        vote.append(y[1])    #votes
    
    
        #gross collection
        try:
            y= x[1].split(": ")
            gross.append(y[1][1:])
        except:
            gross.append(np.nan)

#### Popularity

In [164]:
def pop():
    for i in range (len(link)):
        driver.get(link[i])
        time.sleep(1)
        print(i, end="\t")
        try:
            popul.append(driver.find_element('xpath', '//div[@class="sc-5f7fb5b4-1 bhuIgW"]').text)
            
        except:
            popul.append(np.nan)
            
        movie.append(driver.find_element('xpath', '//span [@class="sc-afe43def-1 fDTGTb"]').text)    #movie name
        
        #year
        year.append(driver.find_element('xpath', '//*[@id="__next"]/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/ul/li[1]/a').text)

#### Next button

In [165]:
def nxt():
    try:
        driver.find_element('xpath', '//a[@class="lister-page-next next-page"]').click()
            
    except:
        print("No next button found/ List ended.")
        pass

#### Data loading

In [166]:
link=[]
sno, movie, year=[],[],[]
cert, dur, gen=[],[],[]
rate, meta=[],[]
direct1=[]
direct2=[]
direct3=[]
star1, star2, star3, star4= [],[],[],[]
gross=[]
vote=[]
popul=[]

c=1

while True:
    print("Scrapping page no {0}".format(c))
    for i in range (1,51):
        try:
            l=driver.find_element('xpath', '//*[@id="main"]/div/div[3]/div/div['+ str(i)+ ']/div[3]/h3/a')
            link.append(l.get_attribute("href"))
        except:
            print(len(link), "no. of data is scrapped")
            break
        
        
    movies()
    genre()
    metascore()
    star()
    votes()
    nxt()
    time.sleep(3)
    
    if len(link)%50 != 0:
        break
        
    c+=1

Scrapping page no 1
Scrapping page no 2
Scrapping page no 3
Scrapping page no 4
Scrapping page no 5
Scrapping page no 6
Scrapping page no 7
Scrapping page no 8
Scrapping page no 9
Scrapping page no 10
Scrapping page no 11
Scrapping page no 12
Scrapping page no 13
Scrapping page no 14
Scrapping page no 15
Scrapping page no 16
Scrapping page no 17
Scrapping page no 18
Scrapping page no 19
Scrapping page no 20
Scrapping page no 21
Scrapping page no 22
Scrapping page no 23
Scrapping page no 24
Scrapping page no 25
Scrapping page no 26
Scrapping page no 27
Scrapping page no 28
Scrapping page no 29
Scrapping page no 30
Scrapping page no 31
Scrapping page no 32
Scrapping page no 33
Scrapping page no 34
Scrapping page no 35
Scrapping page no 36
1753 no. of data is scrapped
No next button found/ List ended.

#### Getting useful data from list genre.

In [167]:
#first five data
gen[:5]

[['Animation', 'Action', 'Adventure'],
 ['Action', 'Crime', 'Drama'],
 ['Action', 'Adventure', 'Drama'],
 ['Action', 'Adventure', 'Sci-Fi'],
 ['Action', 'Adventure', 'Drama']]

In [168]:
genre1, genre2, genre3 =[],[],[]
for i in range (len(gen)):
    genre1.append(gen[i][0])
    
    try:
        genre2.append(gen[i][1])
    except:
        genre2.append(np.nan)
    
    try:
        genre3.append(gen[i][2])
    except:
        genre3.append(np.nan)

#### Getting popularity

In [169]:
pop()

0	1	2	3	4	5	6	7	8	9	10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99	100	101	102	103	104	105	106	107	108	109	110	111	112	113	114	115	116	117	118	119	120	121	122	123	124	125	126	127	128	129	130	131	132	133	134	135	136	137	138	139	140	141	142	143	144	145	146	147	148	149	150	151	152	153	154	155	156	157	158	159	160	161	162	163	164	165	166	167	168	169	170	171	172	173	174	175	176	177	178	179	180	181	182	183	184	185	186	187	188	189	190	191	192	193	194	195	196	197	198	199	200	201	202	203	204	205	206	207	208	209	210	211	212	213	214	215	216	217	218	219	220	221	222	223	224	225	226	227	228	229	230	231	232	233	234	235	236	237	238	239	240	241	242	243	244	245	246	247	248	249	250	251	252	253	254	255	256	257	258	259	260	261	262	263	264	265	266	267	268	269	270	271	272	273	274	275	276	277	278	279	280	281	282	283	284	285	286	287	288	289	290	291	292	293	294	295	296	297	298	299	300	301	302	303	304	305	306	307	308	309	310	311	312	313	314	315	316	317	318	319	320	321	322	323	324	325	326	327	328	329	330	331	332	333	334	335	336	337	338	339	340	341	342	343	344	345	346	347	348	349	350	351	352	353	354	355	356	357	358	359	360	361	362	363	364	365	366	367	368	369	370	371	372	373	374	375	376	377	378	379	380	381	382	383	384	385	386	387	388	389	390	391	392	393	394	395	396	397	398	399	400	401	402	403	404	405	406	407	408	409	410	411	412	413	414	415	416	417	418	419	420	421	422	423	424	425	426	427	428	429	430	431	432	433	434	435	436	437	438	439	440	441	442	443	444	445	446	447	448	449	450	451	452	453	454	455	456	457	458	459	460	461	462	463	464	465	466	467	468	469	470	471	472	473	474	475	476	477	478	479	480	481	482	483	484	485	486	487	488	489	490	491	492	493	494	495	496	497	498	499	500	501	502	503	504	505	506	507	508	509	510	511	512	513	514	515	516	517	518	519	520	521	522	523	524	525	526	527	528	529	530	531	532	533	534	535	536	537	538	539	540	541	542	543	544	545	546	547	548	549	550	551	552	553	554	555	556	557	558	559	560	561	562	563	564	565	566	567	568	569	570	571	572	573	574	575	576	577	578	579	580	581	582	583	584	585	586	587	588	589	590	591	592	593	594	595	596	597	598	599	600	601	602	603	604	605	606	607	608	609	610	611	612	613	614	615	616	617	618	619	620	621	622	623	624	625	626	627	628	629	630	631	632	633	634	635	636	637	638	639	640	641	642	643	644	645	646	647	648	649	650	651	652	653	654	655	656	657	658	659	660	661	662	663	664	665	666	667	668	669	670	671	672	673	674	675	676	677	678	679	680	681	682	683	684	685	686	687	688	689	690	691	692	693	694	695	696	697	698	699	700	701	702	703	704	705	706	707	708	709	710	711	712	713	714	715	716	717	718	719	720	721	722	723	724	725	726	727	728	729	730	731	732	733	734	735	736	737	738	739	740	741	742	743	744	745	746	747	748	749	750	751	752	753	754	755	756	757	758	759	760	761	762	763	764	765	766	767	768	769	770	771	772	773	774	775	776	777	778	779	780	781	782	783	784	785	786	787	788	789	790	791	792	793	794	795	796	797	798	799	800	801	802	803	804	805	806	807	808	809	810	811	812	813	814	815	816	817	818	819	820	821	822	823	824	825	826	827	828	829	830	831	832	833	834	835	836	837	838	839	840	841	842	843	844	845	846	847	848	849	850	851	852	853	854	855	856	857	858	859	860	861	862	863	864	865	866	867	868	869	870	871	872	873	874	875	876	877	878	879	880	881	882	883	884	885	886	887	888	889	890	891	892	893	894	895	896	897	898	899	900	901	902	903	904	905	906	907	908	909	910	911	912	913	914	915	916	917	918	919	920	921	922	923	924	925	926	927	928	929	930	931	932	933	934	935	936	937	938	939	940	941	942	943	944	945	946	947	948	949	950	951	952	953	954	955	956	957	958	959	960	961	962	963	964	965	966	967	968	969	970	971	972	973	974	975	976	977	978	979	980	981	982	983	984	985	986	987	988	989	990	991	992	993	994	995	996	997	998	999	1000	1001	1002	1003	1004	1005	1006	1007	1008	1009	1010	1011	1012	1013	1014	1015	1016	1017	1018	1019	1020	1021	1022	1023	1024	1025	1026	1027	1028	1029	1030	1031	1032	1033	1034	1035	1036	1037	1038	1039	1040	1041	1042	1043	1044	1045	1046	1047	1048	1049	1050	1051	1052	1053	1054	1055	1056	1057	1058	1059	1060	1061	1062	1063	1064	1065	1066	1067	1068	1069	1070	1071	1072	1073	1074	1075	1076	1077	1078	1079	1080	1081	1082	1083	1084	1085	1086	1087	1088	1089	1090	1091	1092	1093	1094	1095	1096	1097	1098	1099	1100	1101	1102	1103	1104	1105	1106	1107	1108	1109	1110	1111	1112	1113	1114	1115	1116	1117	1118	1119	1120	1121	1122	1123	1124	1125	1126	1127	1128	1129	1130	1131	1132	1133	1134	1135	1136	1137	1138	1139	1140	1141	1142	1143	1144	1145	1146	1147	1148	1149	1150	1151	1152	1153	1154	1155	1156	1157	1158	1159	1160	1161	1162	1163	1164	1165	1166	1167	1168	1169	1170	1171	1172	1173	1174	1175	1176	1177	1178	1179	1180	1181	1182	1183	1184	1185	1186	1187	1188	1189	1190	1191	1192	1193	1194	1195	1196	1197	1198	1199	1200	1201	1202	1203	1204	1205	1206	1207	1208	1209	1210	1211	1212	1213	1214	1215	1216	1217	1218	1219	1220	1221	1222	1223	1224	1225	1226	1227	1228	1229	1230	1231	1232	1233	1234	1235	1236	1237	1238	1239	1240	1241	1242	1243	1244	1245	1246	1247	1248	1249	1250	1251	1252	1253	1254	1255	1256	1257	1258	1259	1260	1261	1262	1263	1264	1265	1266	1267	1268	1269	1270	1271	1272	1273	1274	1275	1276	1277	1278	1279	1280	1281	1282	1283	1284	1285	1286	1287	1288	1289	1290	1291	1292	1293	1294	1295	1296	1297	1298	1299	1300	1301	1302	1303	1304	1305	1306	1307	1308	1309	1310	1311	1312	1313	1314	1315	1316	1317	1318	1319	1320	1321	1322	1323	1324	1325	1326	1327	1328	1329	1330	1331	1332	1333	1334	1335	1336	1337	1338	1339	1340	1341	1342	1343	1344	1345	1346	1347	1348	1349	1350	1351	1352	1353	1354	1355	1356	1357	1358	1359	1360	1361	1362	1363	1364	1365	1366	1367	1368	1369	1370	1371	1372	1373	1374	1375	1376	1377	1378	1379	1380	1381	1382	1383	1384	1385	1386	1387	1388	1389	1390	1391	1392	1393	1394	1395	1396	1397	1398	1399	1400	1401	1402	1403	1404	1405	1406	1407	1408	1409	1410	1411	1412	1413	1414	1415	1416	1417	1418	1419	1420	1421	1422	1423	1424	1425	1426	1427	1428	1429	1430	1431	1432	1433	1434	1435	1436	1437	1438	1439	1440	1441	1442	1443	1444	1445	1446	1447	1448	1449	1450	1451	1452	1453	1454	1455	1456	1457	1458	1459	1460	1461	1462	1463	1464	1465	1466	1467	1468	1469	1470	1471	1472	1473	1474	1475	1476	1477	1478	1479	1480	1481	1482	1483	1484	1485	1486	1487	1488	1489	1490	1491	1492	1493	1494	1495	1496	1497	1498	1499	1500	1501	1502	1503	1504	1505	1506	1507	1508	1509	1510	1511	1512	1513	1514	1515	1516	1517	1518	1519	1520	1521	1522	1523	1524	1525	1526	1527	1528	1529	1530	1531	1532	1533	1534	1535	1536	1537	1538	1539	1540	1541	1542	1543	1544	1545	1546	1547	1548	1549	1550	1551	1552	1553	1554	1555	1556	1557	1558	1559	1560	1561	1562	1563	1564	1565	1566	1567	1568	1569	1570	1571	1572	1573	1574	1575	1576	1577	1578	1579	1580	1581	1582	1583	1584	1585	1586	1587	1588	1589	1590	1591	1592	1593	1594	1595	1596	1597	1598	1599	1600	1601	1602	1603	1604	1605	1606	1607	1608	1609	1610	1611	1612	1613	1614	1615	1616	1617	1618	1619	1620	1621	1622	1623	1624	1625	1626	1627	1628	1629	1630	1631	1632	1633	1634	1635	1636	1637	1638	1639	1640	1641	1642	1643	1644	1645	1646	1647	1648	1649	1650	1651	1652	1653	1654	1655	1656	1657	1658	1659	1660	1661	1662	1663	1664	1665	1666	1667	1668	1669	1670	1671	1672	1673	1674	1675	1676	1677	1678	1679	1680	1681	1682	1683	1684	1685	1686	1687	1688	1689	1690	1691	1692	1693	1694	1695	1696	1697	1698	1699	1700	1701	1702	1703	1704	1705	1706	1707	1708	1709	1710	1711	1712	1713	1714	1715	1716	1717	1718	1719	1720	1721	1722	1723	1724	1725	1726	1727	1728	1729	1730	1731	1732	1733	1734	1735	1736	1737	1738	1739	1740	1741	1742	1743	1744	1745	1746	1747	1748	1749	1750	1751	1752

In [170]:
driver.close()

Duration

In [171]:
duration=[]
for i in dur:
    duration.append(i.split(" ")[0])

Votes

In [172]:
votes=[]
for i in vote:
    votes.append("".join(i.split(",")))

#### DataFrame

In [173]:
df1=pd.DataFrame({'Sno': sno, 'MovieName': movie, 'Director1': direct1, 'Director2': direct2, 'Director3': direct3,
             'Duration': duration, 'Year':year, 'Ratings':rate, 'Metascore':meta
             })
df1

,Sno,MovieName,Director1,Director2,Director3,Duration,Year,Ratings,Metascore
0,1,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140,2023,9.0,86
1,2,The Dark Knight,Christopher Nolan,NaN,NaN,152,2008,9.0,84
2,3,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201,2003,9.0,94
3,4,Inception,Christopher Nolan,NaN,NaN,148,2010,8.8,74
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178,2001,8.8,92
...,...,...,...,...,...,...,...,...,...
1748,"1,749",Radhe,Prabhu Deva,NaN,NaN,109,2021,1.9,NaN
1749,"1,750",Race 3,Remo D'Souza,NaN,NaN,160,2018,1.9,NaN
1750,"1,751",Angels Apocalypse,Sean Cain,Enzo Zelocchi,NaN,85,2015,1.7,NaN
1751,"1,752",The Cost of Deception,Keith English,NaN,NaN,125,2021,1.5,NaN
1752,"1,753",Sadak 2,Mahesh Bhatt,NaN,NaN,133,2020,1.2,NaN

In [174]:
df2=pd.DataFrame({'MovieName': movie, 'Star1':star1, 'Star2':star2, 'Star3':star3, 'Votes':votes, 'Genre1': genre1,
             'Genre2': genre2, 'Genre3': genre3, 'GrossCollection': gross, 'Popularity': popul,
             'Certification': cert})
df2

,MovieName,Star1,Star2,Star3,Votes,Genre1,Genre2,Genre3,GrossCollection,Popularity,Certification
0,Spider-Man: Across the Spider-Verse,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,89734,Animation,Action,Adventure,NaN,2,PG
1,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,2722434,Action,Crime,Drama,534.86M,105,PG-13
2,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,1889394,Action,Adventure,Drama,377.85M,338,PG-13
3,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,2416430,Action,Adventure,Sci-Fi,292.58M,101,PG-13
4,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,1917992,Action,Adventure,Drama,315.54M,154,PG-13
...,...,...,...,...,...,...,...,...,...,...,...
1748,Radhe,Salman Khan,Disha Patani,Randeep Hooda,178829,Action,Crime,Thriller,NaN,NaN,TV-MA
1749,Race 3,Anil Kapoor,Salman Khan,Bobby Deol,47598,Action,Crime,Thriller,1.69M,NaN,Not Rated
1750,Angels Apocalypse,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,42912,Action,Fantasy,Sci-Fi,NaN,NaN,NaN
1751,The Cost of Deception,Vivianne Bánovits,András Mózes,Barna Bokor,39503,Action,Crime,Drama,NaN,NaN,NaN
1752,Sadak 2,Alia Bhatt,Priyanka Bose,Sanjay Dutt,96269,Action,Drama,NaN,NaN,NaN,TV-MA

In [175]:
df3= pd.DataFrame({'Sno': sno, 'MovieName': movie, 'Director1': direct1, 'Director2': direct2, 'Director3': direct3,
             'Duration': duration,'Genre1': genre1, 'Genre2': genre2, 'Genre3': genre3, 'Ratings':rate,
             })
df3

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings
0,1,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140,Animation,Action,Adventure,9.0
1,2,The Dark Knight,Christopher Nolan,NaN,NaN,152,Action,Crime,Drama,9.0
2,3,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201,Action,Adventure,Drama,9.0
3,4,Inception,Christopher Nolan,NaN,NaN,148,Action,Adventure,Sci-Fi,8.8
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178,Action,Adventure,Drama,8.8
...,...,...,...,...,...,...,...,...,...,...
1748,"1,749",Radhe,Prabhu Deva,NaN,NaN,109,Action,Crime,Thriller,1.9
1749,"1,750",Race 3,Remo D'Souza,NaN,NaN,160,Action,Crime,Thriller,1.9
1750,"1,751",Angels Apocalypse,Sean Cain,Enzo Zelocchi,NaN,85,Action,Fantasy,Sci-Fi,1.7
1751,"1,752",The Cost of Deception,Keith English,NaN,NaN,125,Action,Crime,Drama,1.5
1752,"1,753",Sadak 2,Mahesh Bhatt,NaN,NaN,133,Action,Drama,NaN,1.2

In [176]:
df=pd.DataFrame({'Sno': sno, 'MovieName': movie, 'Director1': direct1, 'Director2': direct2, 'Director3': direct3,
             'Duration': duration, 'Year':year, 'Ratings':rate, 'Metascore':meta, 'Star1':star1, 'Star2':star2, 'Star3':star3, 
                'Votes':votes, 'Genre1': genre1,
             'Genre2': genre2, 'Genre3': genre3, 'GrossCollection': gross, 'Popularity': popul,
             'Certification': cert
             })

#### Saving CSV file

In [177]:
df1.to_csv("Directors.csv")
df2.to_csv("Movies.csv")
df3.to_csv("SQL1.csv")

In [178]:
df.to_csv("imdb.csv")

#### GrossCollection

In [211]:
for i in range (len(df2['GrossCollection'])):
    try:
        if df2['GrossCollection'][i][-1]=='M':
            df2['GrossCollection'][i]=df2['GrossCollection'][i][:-1]   
            
    except TypeError:
        pass

In [212]:
df2['GrossCollection']=df2['GrossCollection'].astype('float')

### QUERIES

### Table 1: Sno, MovieName, Director Name, Duration, genre, ratings

#### 1)  Display all the details of movies created by directors Christopher and Matt Reeves.

In [213]:
df3.head()

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings
0,1,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140,Animation,Action,Adventure,9.0
1,2,The Dark Knight,Christopher Nolan,NaN,NaN,152,Action,Crime,Drama,9.0
2,3,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201,Action,Adventure,Drama,9.0
3,4,Inception,Christopher Nolan,NaN,NaN,148,Action,Adventure,Sci-Fi,8.8
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178,Action,Adventure,Drama,8.8

In [214]:
c=0
ind=[]
for i in df3['Director1']:
    if(i.split(" ")[0] =="Christopher"):
        ind.append(c)
    c+=1

In [215]:
df3.iloc[ind]

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings
1,2,The Dark Knight,Christopher Nolan,NaN,NaN,152,Action,Crime,Drama,9.0
3,4,Inception,Christopher Nolan,NaN,NaN,148,Action,Adventure,Sci-Fi,8.8
21,22,The Dark Knight Rises,Christopher Nolan,NaN,NaN,164,Action,Drama,Thriller,8.4
41,42,Batman Begins,Christopher Nolan,NaN,NaN,140,Action,Crime,Drama,8.2
136,137,Dunkirk,Christopher Nolan,NaN,NaN,106,Action,Drama,History,7.8
166,167,Mission: Impossible - Fallout,Christopher McQuarrie,NaN,NaN,147,Action,Adventure,Thriller,7.7
293,294,Mission: Impossible - Rogue Nation,Christopher McQuarrie,NaN,NaN,131,Action,Adventure,Thriller,7.4
321,322,Tenet,Christopher Nolan,NaN,NaN,150,Action,Sci-Fi,Thriller,7.3
494,495,Jack Reacher,Christopher McQuarrie,NaN,NaN,130,Action,Mystery,Thriller,7.0
636,637,Young Guns,Christopher Cain,NaN,NaN,107,Action,Drama,Western,6.8
826,827,The Way of the Gun,Christopher McQuarrie,NaN,NaN,119,Action,Crime,Drama,6.6
976,977,Black Death,Christopher Smith,NaN,NaN,102,Action,Drama,History,6.4
1030,"1,031",Scouts Guide to the Zombie Apocalypse,Christopher Landon,NaN,NaN,93,Action,Comedy,Horror,6.3
1700,"1,701",The Next Karate Kid,Christopher Cain,NaN,NaN,107,Action,Drama,Family,4.5

#### 2) Display all the details of movies with a duration of 140 minutes to 190 minutes.

In [216]:
df3['Duration']=df3['Duration'].astype('int')

In [217]:
df3.iloc[1]['Duration']<=190

True

In [218]:
ind=[]
for i in range(len(df3['Duration'])):
    if ((df3.iloc[i]['Duration']>=140) and (df3.iloc[i]['Duration']<=190)):
         ind.append(df3.iloc[i]['Duration'])

In [219]:
df3.iloc[ind]

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings
140,141,Captain America: Civil War,Anthony Russo,Joe Russo,NaN,147,Action,Sci-Fi,NaN,7.8
152,153,The Fighter,David O. Russell,NaN,NaN,116,Action,Biography,Drama,7.8
148,149,The Last Samurai,Edward Zwick,NaN,NaN,154,Action,Drama,NaN,7.8
178,179,The Magnificent Seven,John Sturges,NaN,NaN,128,Action,Adventure,Drama,7.7
179,180,First Blood,Ted Kotcheff,NaN,NaN,93,Action,Adventure,Thriller,7.7
...,...,...,...,...,...,...,...,...,...,...
152,153,The Fighter,David O. Russell,NaN,NaN,116,Action,Biography,Drama,7.8
140,141,Captain America: Civil War,Anthony Russo,Joe Russo,NaN,147,Action,Sci-Fi,NaN,7.8
145,146,Captain America: The Winter Soldier,Anthony Russo,Joe Russo,NaN,136,Action,Adventure,Sci-Fi,7.8
141,142,Predator,John McTiernan,NaN,NaN,107,Action,Adventure,Horror,7.8
160,161,The Killer,John Woo,NaN,NaN,111,Action,Crime,Drama,7.8

#### 3) Display all details of movies with ratings above 7 in ascending order.

In [220]:
df3['Ratings']= df3['Ratings'].astype('float')

In [221]:
c=0
ind=[]
for i in df3['Ratings']:
    if i>7:
        ind.append(c)
    c+=1
    
df3.iloc[ind].sort_values(by=['Ratings'])

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings
487,488,Gabbar Is Back,Radha Krishna Jagarlamudi,NaN,NaN,128,Action,Crime,Drama,7.1
454,455,Flags of Our Fathers,Clint Eastwood,NaN,NaN,135,Action,Adventure,Drama,7.1
453,454,Live Free or Die Hard,Len Wiseman,NaN,NaN,128,Action,Thriller,NaN,7.1
452,453,Deepwater Horizon,Peter Berg,NaN,NaN,107,Action,Drama,History,7.1
451,452,Desperado,Robert Rodriguez,NaN,NaN,104,Action,Crime,Thriller,7.1
...,...,...,...,...,...,...,...,...,...,...
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178,Action,Adventure,Drama,8.8
3,4,Inception,Christopher Nolan,NaN,NaN,148,Action,Adventure,Sci-Fi,8.8
2,3,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201,Action,Adventure,Drama,9.0
1,2,The Dark Knight,Christopher Nolan,NaN,NaN,152,Action,Crime,Drama,9.0
0,1,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140,Animation,Action,Adventure,9.0

#### 4) Display all movie names in descending order.

In [222]:
df3.sort_values('MovieName', ascending=False)['MovieName']

1565                      Æon Flux
1699       xXx: State of the Union
1616    xXx: Return of Xander Cage
1374                           xXx
1679                   Zoolander 2
                   ...
856                      12 Strong
1511                     12 Rounds
1640                     10,000 BC
421                            '71
1039                        #Alive
Name: MovieName, Length: 1753, dtype: object

#### 5) Display movie name starts with ‘P’ and their rating is greater than 7.

In [223]:
ind=[]

for i in range(len(df3['MovieName'])):
    if((df3['MovieName'][i][0]=='P') and df3['Ratings'][i]>7):
        ind.append(i)
    
df3.iloc[ind][['MovieName','Ratings']]

                                             MovieName  Ratings
29                                   Princess Mononoke      8.3
56                                    Paan Singh Tomar      8.2
58   Pirates of the Caribbean: The Curse of the Bla...      8.1
141                                           Predator      7.8
191                            Ponniyin Selvan: Part I      7.7
237                          Pushpa: The Rise - Part 1      7.6
270                                       Police Story      7.5
292                                     Predestination      7.4
338         Pirates of the Caribbean: Dead Man's Chest      7.3
342                                       Patriots Day      7.3
379                                        Point Break      7.2
437                                               Prey      7.1
441           Pirates of the Caribbean: At World's End      7.1
458                                      Planet Terror      7.1
469                                            Payback      7.1

### Table 2: Movie Name, stars, votes, Genre, Gross collection, popularity, Certification

#### 1) Display all movie names with star Arnold Schwarzenegger in ascending order.

In [224]:
df2.head()

,MovieName,Star1,Star2,Star3,Votes,Genre1,Genre2,Genre3,GrossCollection,Popularity,Certification
0,Spider-Man: Across the Spider-Verse,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,89734,Animation,Action,Adventure,NaN,2,PG
1,The Dark Knight,Christian Bale,Heath Ledger,Aaron Eckhart,2722434,Action,Crime,Drama,534.86,105,PG-13
2,The Lord of the Rings: The Return of the King,Elijah Wood,Viggo Mortensen,Ian McKellen,1889394,Action,Adventure,Drama,377.85,338,PG-13
3,Inception,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,2416430,Action,Adventure,Sci-Fi,292.58,101,PG-13
4,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood,Ian McKellen,Orlando Bloom,1917992,Action,Adventure,Drama,315.54,154,PG-13

In [225]:
df3.sort_values('MovieName', ascending=False)['MovieName']

1565                      Æon Flux
1699       xXx: State of the Union
1616    xXx: Return of Xander Cage
1374                           xXx
1679                   Zoolander 2
                   ...
856                      12 Strong
1511                     12 Rounds
1640                     10,000 BC
421                            '71
1039                        #Alive
Name: MovieName, Length: 1753, dtype: object

In [226]:
ind=[]
for i in range (len(df2['MovieName'])):
    if((df2['Star1'][i]== 'Arnold Schwarzenegger')or (df2['Star2'][i]== 'Arnold Schwarzenegger')
      or (df2['Star3'][i]== 'Arnold Schwarzenegger')):
        ind.append(i)
df2.iloc[ind].sort_values('MovieName')[['MovieName', 'Star1', 'Star2', 'Star3']]

,MovieName,Star1,Star2,Star3
1726,Batman & Robin,Arnold Schwarzenegger,George Clooney,Chris O'Donnell
1543,Collateral Damage,Arnold Schwarzenegger,John Leguizamo,Francesca Neri
672,Commando,Arnold Schwarzenegger,Rae Dawn Chong,Dan Hedaya
565,Conan the Barbarian,Arnold Schwarzenegger,James Earl Jones,Max von Sydow
1313,Conan the Destroyer,Arnold Schwarzenegger,Grace Jones,Olivia d'Abo
1375,End of Days,Arnold Schwarzenegger,Gabriel Byrne,Robin Tunney
1108,Eraser,Arnold Schwarzenegger,Vanessa Williams,James Caan
701,Escape Plan,Sylvester Stallone,Arnold Schwarzenegger,50 Cent
1072,Kindergarten Cop,Arnold Schwarzenegger,Penelope Ann Miller,Pamela Reed
917,Last Action Hero,Arnold Schwarzenegger,F. Murray Abraham,Art Carney
141,Predator,Arnold Schwarzenegger,Carl Weathers,Kevin Peter Hall
1496,Raw Deal,Arnold Schwarzenegger,Kathryn Harrold,Sam Wanamaker
1212,Red Heat,Arnold Schwarzenegger,Jim Belushi,Peter Boyle
1637,Red Sonja,Arnold Schwarzenegger,Brigitte Nielsen,Sandahl Bergman
1452,Sabotage,Arnold Schwarzenegger,Sam Worthington,Terrence Howard
10,Terminator 2: Judgment Day,Arnold Schwarzenegger,Linda Hamilton,Edward Furlong
1011,Terminator 3: Rise of the Machines,Arnold Schwarzenegger,Nick Stahl,Kristanna Loken
996,Terminator Genisys,Arnold Schwarzenegger,Jason Clarke,Emilia Clarke
1074,Terminator: Dark Fate,Linda Hamilton,Arnold Schwarzenegger,Mackenzie Davis
1329,The 6th Day,Arnold Schwarzenegger,Michael Rapaport,Tony Goldwyn
1005,The Last Stand,Arnold Schwarzenegger,Forest Whitaker,Johnny Knoxville
753,The Running Man,Arnold Schwarzenegger,Maria Conchita Alonso,Yaphet Kotto
61,The Terminator,Arnold Schwarzenegger,Linda Hamilton,Michael Biehn
252,Total Recall,Arnold Schwarzenegger,Sharon Stone,Michael Ironside
323,True Lies,Arnold Schwarzenegger,Jamie Lee Curtis,Tom Arnold

#### 2) Display all details of the movie with the highest number of votes.

In [227]:
df2[df2['Votes'] == df2['Votes'].max()]

,MovieName,Star1,Star2,Star3,Votes,Genre1,Genre2,Genre3,GrossCollection,Popularity,Certification
1045,The American,George Clooney,Paolo Bonacelli,Violante Placido,99960,Action,Crime,Drama,35.61,"4,490",R

#### 3) Display movie names with gross collections in descending order.

In [228]:
df2.sort_values('GrossCollection', ascending=False)[['MovieName','GrossCollection']]

                                       MovieName  GrossCollection
138   Star Wars: Episode VII - The Force Awakens           936.66
18                             Avengers: Endgame           858.37
37                       Spider-Man: No Way Home           804.75
107                                       Avatar           760.51
25                             Top Gun: Maverick           718.73
...                                          ...              ...
1746                               The Prototype              NaN
1748                                       Radhe              NaN
1750                           Angels Apocalypse              NaN
1751                       The Cost of Deception              NaN
1752                                     Sadak 2              NaN

[1753 rows x 2 columns]

#### 4) Display the gross collection of movies with the star Arnold.

In [229]:
ind=[]

for i in range(len(df2['GrossCollection'])):
    if(df2['Star1'][i][0:6]=='Arnold'):
        ind.append(i)
    
df2.iloc[ind][['GrossCollection', 'Star1']]

      GrossCollection                  Star1
10             204.84  Arnold Schwarzenegger
61              38.40  Arnold Schwarzenegger
141             59.74  Arnold Schwarzenegger
252            119.39  Arnold Schwarzenegger
323            146.28  Arnold Schwarzenegger
565             39.57  Arnold Schwarzenegger
672             35.10  Arnold Schwarzenegger
753             38.12  Arnold Schwarzenegger
917             50.02  Arnold Schwarzenegger
996             89.76  Arnold Schwarzenegger
1005            12.05  Arnold Schwarzenegger
1011           150.37  Arnold Schwarzenegger
1072            91.46  Arnold Schwarzenegger
1108           101.30  Arnold Schwarzenegger
1212            34.99  Arnold Schwarzenegger
1313            31.04  Arnold Schwarzenegger
1329            34.60  Arnold Schwarzenegger
1375            66.89  Arnold Schwarzenegger
1452            10.51  Arnold Schwarzenegger
1496            16.21  Arnold Schwarzenegger
1543            40.08  Arnold Schwarzenegger
1637             6.95  Arnold Schwarzenegger
1726           107.33  Arnold Schwarzenegger

#### 5) Display all details of movies with comedy and action genres.

In [230]:
ind=[]

for i in range(len(df2['Genre1'])):
    if((df2['Genre1'][i]=='Action') and (df2['Genre2'][i]=='Comedy')):
        ind.append(i)
        
df2.iloc[ind]

,MovieName,Star1,Star2,Star3,Votes,Genre1,Genre2,Genre3,GrossCollection,Popularity,Certification
47,Gangs of Wasseypur,Manoj Bajpayee,Nawazuddin Siddiqui,Tigmanshu Dhulia,99447,Action,Comedy,Crime,NaN,"4,385",Not Rated
54,Sherlock Jr.,Buster Keaton,Kathryn McGuire,Joe Keaton,52553,Action,Comedy,Romance,0.98,NaN,Passed
65,"Lock, Stock and Two Smoking Barrels",Jason Flemyng,Dexter Fletcher,Nick Moran,595786,Action,Comedy,Crime,3.90,"1,009",R
77,Hera Pheri,Akshay Kumar,Suniel Shetty,Paresh Rawal,69495,Action,Comedy,Crime,NaN,NaN,Not Rated
84,Deadpool,Ryan Reynolds,Morena Baccarin,T.J. Miller,1069372,Action,Comedy,NaN,363.07,286,R
...,...,...,...,...,...,...,...,...,...,...,...
1715,Coolie No. 1,Varun Dhawan,Sara Ali Khan,Paresh Rawal,73864,Action,Comedy,Romance,NaN,NaN,TV-14
1717,Torque,Martin Henderson,Ice Cube,Monet Mazur,28927,Action,Comedy,Crime,21.22,NaN,PG-13
1725,The Adventures of Pluto Nash,Eddie Murphy,Jay Mohr,Randy Quaid,26472,Action,Comedy,Sci-Fi,4.42,NaN,PG-13
1743,Heropanti 2,Tiger Shroff,Nawazuddin Siddiqui,Tara Sutaria,26996,Action,Comedy,Crime,NaN,NaN,UA
1744,Laxmii,Akshay Kumar,Kiara Advani,Sharad Kelkar,57992,Action,Comedy,Horror,NaN,NaN,TV-MA

### Make subquery :

#### 1) Display all details from both tables where movie names are the same.

In [231]:
df4=pd.merge(df3, df2, on=['MovieName', 'Genre1', 'Genre2', 'Genre3'])
df4

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings,Star1,Star2,Star3,Votes,GrossCollection,Popularity,Certification
0,1,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140,Animation,Action,Adventure,9.0,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,89734,NaN,2,PG
1,2,The Dark Knight,Christopher Nolan,NaN,NaN,152,Action,Crime,Drama,9.0,Christian Bale,Heath Ledger,Aaron Eckhart,2722434,534.86,105,PG-13
2,3,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201,Action,Adventure,Drama,9.0,Elijah Wood,Viggo Mortensen,Ian McKellen,1889394,377.85,338,PG-13
3,4,Inception,Christopher Nolan,NaN,NaN,148,Action,Adventure,Sci-Fi,8.8,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,2416430,292.58,101,PG-13
4,5,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,NaN,NaN,178,Action,Adventure,Drama,8.8,Elijah Wood,Ian McKellen,Orlando Bloom,1917992,315.54,154,PG-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1784,"1,749",Radhe,Prabhu Deva,NaN,NaN,109,Action,Crime,Thriller,1.9,Salman Khan,Disha Patani,Randeep Hooda,178829,NaN,NaN,TV-MA
1785,"1,750",Race 3,Remo D'Souza,NaN,NaN,160,Action,Crime,Thriller,1.9,Anil Kapoor,Salman Khan,Bobby Deol,47598,1.69,NaN,Not Rated
1786,"1,751",Angels Apocalypse,Sean Cain,Enzo Zelocchi,NaN,85,Action,Fantasy,Sci-Fi,1.7,Enzo Zelocchi,Jana Rochelle,Ryan C.F. Buckley,42912,NaN,NaN,NaN
1787,"1,752",The Cost of Deception,Keith English,NaN,NaN,125,Action,Crime,Drama,1.5,Vivianne Bánovits,András Mózes,Barna Bokor,39503,NaN,NaN,NaN
1788,"1,753",Sadak 2,Mahesh Bhatt,NaN,NaN,133,Action,Drama,NaN,1.2,Alia Bhatt,Priyanka Bose,Sanjay Dutt,96269,NaN,NaN,TV-MA

#### 2)   Display all movie names, Director, ratings, and gross collection where the genre is action.

In [232]:
ind=[]

for i in range(len(df4['Genre1'])):
    if((df4['Genre1'][i]=='Action') or (df4['Genre2'][i]=='Action')):
        ind.append(i)
        
df4.iloc[ind][['MovieName', 'Director1', 'Ratings', 'GrossCollection']]

,MovieName,Director1,Ratings,GrossCollection
0,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,9.0,NaN
1,The Dark Knight,Christopher Nolan,9.0,534.86
2,The Lord of the Rings: The Return of the King,Peter Jackson,9.0,377.85
3,Inception,Christopher Nolan,8.8,292.58
4,The Lord of the Rings: The Fellowship of the Ring,Peter Jackson,8.8,315.54
...,...,...,...,...
1784,Radhe,Prabhu Deva,1.9,NaN
1785,Race 3,Remo D'Souza,1.9,1.69
1786,Angels Apocalypse,Sean Cain,1.7,NaN
1787,The Cost of Deception,Keith English,1.5,NaN
1788,Sadak 2,Mahesh Bhatt,1.2,NaN

#### 3)      Display all details from both tables with the highest gross collection.

In [233]:
df4[df4['GrossCollection'] == df4['GrossCollection'].max()]

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings,Star1,Star2,Star3,Votes,GrossCollection,Popularity,Certification
141,139,Star Wars: Episode VII - The Force Awakens,J.J. Abrams,NaN,NaN,138,Action,Adventure,Sci-Fi,7.8,Daisy Ridley,John Boyega,Oscar Isaac,948108,936.66,623,PG-13

#### 4)      Display all details from both tables with the highest ratings

In [234]:
df4[df4['Ratings'] == df4['Ratings'].max()]

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings,Star1,Star2,Star3,Votes,GrossCollection,Popularity,Certification
0,1,Spider-Man: Across the Spider-Verse,Joaquim Dos Santos,Kemp Powers,Justin K. Thompson,140,Animation,Action,Adventure,9.0,Shameik Moore,Hailee Steinfeld,Brian Tyree Henry,89734,NaN,2,PG
1,2,The Dark Knight,Christopher Nolan,NaN,NaN,152,Action,Crime,Drama,9.0,Christian Bale,Heath Ledger,Aaron Eckhart,2722434,534.86,105,PG-13
2,3,The Lord of the Rings: The Return of the King,Peter Jackson,NaN,NaN,201,Action,Adventure,Drama,9.0,Elijah Wood,Viggo Mortensen,Ian McKellen,1889394,377.85,338,PG-13

#### 5)      Display all details from both tables with the lowest gross collection and lowest ratings

In [235]:
X= df4[df4['GrossCollection'] == df4['GrossCollection'].min()]

X[X['Ratings'] == X['Ratings'].min()]

,Sno,MovieName,Director1,Director2,Director3,Duration,Genre1,Genre2,Genre3,Ratings,Star1,Star2,Star3,Votes,GrossCollection,Popularity,Certification
1532,"1,490",Wild Card,Simon West,NaN,NaN,92,Action,Crime,Drama,5.6,Jason Statham,Michael Angarano,Dominik Garcia,57840,0.0,"4,095",R